.reviewbox p,
.reviewbox q {
  margin-left: 20px;
  font-size: 20px;
  line-height: 30px;
}
.reviewbox {
  margin: 10px 0;
  background-color: rgba(212, 211, 211, 0.329);
  padding: 20px;
  /* border: 3px solid grey; */
}
.reviewbox h6 {
  margin-bottom: 10px;
  font-size: large;
}
@media screen and (max-width: 820px) {
  .reviewbox p,
  .reviewbox q {
    font-size: 18px;
    line-height: 28px;
  }
  .reviewbox h6 {
    margin-bottom: 10px;
    font-size: medium;
  }
}
@media screen and (max-width: 560px) {
  .reviewbox p,
  .reviewbox q {
    font-size: 15.5px;
    line-height: 25px;
  }
  .reviewbox h6 {
    margin-bottom: 7px;
    font-size: small;
  }
}
